<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>
  
  <body>

 
      <p><strong>AUTORES</storng></p>
    </div>

    <div class= "fondo">
    <center><table class="perfil"></center>
  
      <tbody>
        <tr>
          <td><img src="/images/sandra.png"></td>
          <td><p><em><strong><u>Nombre:</u><strong></em></p>
              <p><em>Sandra Escalona Moreno</em></p>
        </tr>
      </tbody>
    </table>

    </div>

      <div id= "videos">
      <p><strong>VIDEOS</storng></p>
      </div>

      <div class= "fondo2">
 
        <center><iframe width="400" height="300" src="https://www.youtube.com/embed/H2-1u8xvk54" frameborder="0" allowfullscreen></iframe></center>
       
     </div>

  </body>
</html> 